/* styles.css */
body {
    font-family: Arial, sans-serif;
    color: black;
}

header {
    background-color: rgba(119, 110, 110, 0.5);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 1px solid white;
}

section p {
    line-height: 1.6;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
}

/* Custom styles for the Tableau graph */
.tableau-container {
    margin: 0 auto;
    text-align: center;
}